{% extends 'AdminBase.html.twig' %}

{% block title %}Admins{% endblock %}

{% block body %}
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="notifmodal" role="dialog"
    tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center p-5">
                <!-- add admin : sucsess -->
                <span class="text-success">admin ajouté avec succés</span>
                <!-- add admin : filure -->
                <span class="text-danger">les types des images autorisés sont : png, jpg, jpeg</span>
                <span class="text-danger">vérifier votre connection</span>
                <span class="text-danger">l'email est déja utilisé</span>
                <span class="text-danger">la taille de l'image ne peut pas dépasser 2M</span>
                <span class="text-danger">vérifier votre connection</span>
            </div>
        </div>
    </div>
</div>

<!-- Ajouter un admin -->
<strong class="text-muted d-block mb-2 mt-2">Ajouter un admin</strong>
<form id="add_admin" method="POST" enctype="multipart/form-data">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" name="username"
                        placeholder="Username" required type="text">
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" id="picture" name="picture" type="file"></div>
        </div>
        <div class="col-sm-12 col-md-6">

            <div class="form-row">
                <div class="form-group col-md-12">
                    <input class="form-control" name="email" placeholder="name@example.com" required type="email">
                </div>
                <div class="form-group col-md-12">
                    <button class="mb-2 btn btn-block btn-info mr-2" type="submit">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<!-- Admins List -->
<div>
    <div class="container">
        {% for admin in admins %}
        <div class="row text-center">
            <input type="hidden" value="{{ admin.id }}" />
            <div class="col-md-3"><img width="50px" class="rounded-circle"
                    src="{{ asset( 'profile_pictures/admins/' ~ admin.picture) }}" /></div>
            <div class="col-md-3 pt-3">{{ admin.name }}</div>
            <div class="col-md-3 pt-3">{{ admin.email }}</div>
            {% if admin.role == 0 %}
            {% if admin.id != app.user.id %}
            <form action="/admin/delete-admin" method="post">
                <input type="hidden" value="{{ admin.id }}" name="admin_id" />
                <div class="col-md-3 pt-3"><button type="button" class="btn btn-danger delete_btn">Supprimer</button>
                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" role="dialog"
                    tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                voulez vous confirmer la suppression
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
                                <button class="btn btn-danger" type="submit">confirmer</button>
                            </div>
                        </div>
                </div>
                </div>
                <!-- Confirmation Modal -->
                
                    </div>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <hr />
        {% endfor %}

        <div class="text-center">
            <div id="page-selection"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/admin/admin_admins.js')}}"></script>
<script src="{{ asset('vendor/bootpag/jquery.bootpag.min.js')}}"></script>
<script>
    let pageNumber = window.location.pathname.split('/')[window.location.pathname.split('/').length - 1];
    if (isNaN(pageNumber) || pageNumber === '') {
        pageNumber = 1;
    }
    $('#page-selection').bootpag({
        total: {{pages}},
        page: pageNumber,
        maxVisible: 5,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {
        window.location.replace('/admin/admins/' + num);
    });

    $(document).ready(function () {
        $('.delete_btn').on('click', function () {
            $(this).next().modal('toggle');
        });
    });
</script>
</script>
{% endblock %}