{% extends 'UserBase.html.twig' %}

{% block title %}article{% endblock %}

{% block Stylesheets %}
<style>
.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
}
.chip.chip-md img {
  height: 42px;
  width: 42px;
}
</style>
{% endblock %}
{% block body %}
<!-- Cover image -->
<div class="parallax-window z-depth-5" data-parallax="scroll" data-image-src="{{asset('assets/img/user/toronto.jpg')}}">
    <div class="parallax-mask text-white text-center">
        <h1 style="margin-top : 170px">Articles</h1>
    </div>
</div>

<div class="content_section">
    <!-- Title -->
    <div class="title container-fluid">
        <div class="row ">
            <div class=" text col-md-3 p-3 font-weight-bold">GRJ IMMIGRATION </div>
        </div>
    </div>
    <!-- /Title -->
    <!-- Content -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section: Blog v.2 -->
                    <section class="text-center container-fluid t-4 pb-5 pt-5">
                        <!-- Grid row -->
                        <div class="row">
                            {% for post in news %}
                            <!-- Grid column -->
                            <div class="col-lg-4 col-md-12 mb-md-0 mb-4">

                                <!-- Featured image -->
                                <div class="view overlay mb-4" style="height: 40vmin; margin:auto; text-align : center">
                                    <img src="{{asset('article_pictures/'~ post.picture)}}"
                                        class="d-block rounded z-deptn-3" style="height : 95%; margin: auto"
                                        alt="{{ post.title }}">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <p><span class="badge badge-pill badge-default">{{ post.lastModified.format("d/m/Y") }} </span> <span class="badge badge-pill badge-secondary">{{ post.lastModified.format("h:i:s A") }}</span>
                                </p>
                                <!-- Post title -->
                                <h2 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h2>                                <!-- Post data -->
                                <p>
                                        <div class="chip chip-md darken-2">
                                        <img src="{{asset('profile_pictures/admins/'~ post.admin.picture)}}"
                                            alt="{{post.admin.name}}"> {{post.admin.name}}
                                    </div>
                                </p>
                                <!-- Read more button -->
                                <a href="/news/details/{{post.id}}"
                                    class="btn btn-dark btn-rounded btn-md mb-4">Lire</a>


                            </div>
                            <!-- Grid column -->
                            {% endfor %}

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!-- Section: Blog v.2 -->

                    <div class="text-center">
                        <div id="page-selection"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Content -->
</div>

{% endblock %}

{% block javascript %}
<script src="{{ asset('vendor/bootpag/jquery.bootpag.min.js')}}"></script>
<script>
    let pageNumber = window.location.pathname.split('/')[window.location.pathname.split('/').length - 1];
    if (isNaN(pageNumber) || pageNumber === '') {
        pageNumber = 1;
    }
    $('#page-selection').bootpag({
        total: {{ pages }},
        page: pageNumber,
        maxVisible: 5,
        leaps: true,
        firstLastUse: true,
        first: '←',
        last: '→',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first'
    }).on("page", function (event, num) {
        window.location.replace('/news/' + num);
    });
</script>
{% endblock %}